<!DOCTYPE html>

<html>
    <head></head>
    <body>
        {{>header}}
        <h1>About Section</h1>
        <p>This is a weather forecasting Application.</p>
        {{>footer}}
    </body>
</html>