<!DOCTYPE html>

<html>
    <head></head>
    <body>
        {{>header}}
        <p>Call Help!!</p>
        <p>In a problem? No, worries!! Eat a Pizza and be happy.</p>
        {{>footer}}
    </body>
</html>